* {
    border: none;
    border-radius: 0;
    font-family: CaskaydiaCove Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}
#waybar {
  background: transparent;
  color: #cdd6f4;
}


tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces {
  padding: 0px;
  margin-top: 10px;
  border-radius: 16px;
  font-weight: bold;
}


#workspaces button {
  padding: 0px;
  margin: 0px;
  /*transition: all 0.5s cubic-bezier(0.33, 1.0, 0.68, 1.0); easeInOutCubic */
}

#workspaces button.active {
  /*color: @surface0;
    border-radius: 1rem;
    padding: 0rem 10px;*/
  color: #89b4fa;
}

#workspaces button:hover {
  background-color: #cba6f7;
}


#window,
#tray,
#clock,
#pulseaudio,
#network,
#cpu,
#memory,
#pulseaudio.microphone,
#disk,
#temperature,
#custom-power,
#custom-weather {
  background-color: rgba(22, 25, 37, 0.9);
  color: #f9e2af;
  border-radius: 16px;
  padding: 0.5rem 1rem;

  box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
  margin-top: 10px;

}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}



#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #ea76cb;
    margin-left: 15px;
    margin-right: 15px;
}



#pulseaudio{
    color: #ea76cb;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

#pulseaudio.microphone{
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

#custom-power {
  color: #d20f39;
  padding-right: 1.2rem;
  margin-right: 15px;
}

#custom-weather{
  margin-right: 15px;
  color: #dd7878;
}

#cpu{
  margin-left: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #179299;
}

#memory{
  border-radius: 0px;
  color: #ea76cb;
}

#disk{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #dc8a78;
}




