* {
    border: none;
    border-radius: 0;
    font-family: CaskaydiaCove Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}
#waybar {
  background: transparent;
  color: #cdd6f4;
}


tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces {
  padding-left: 8px;
  padding-right: 8px;
}

#workspaces * {
  font-size: 0px;
}

#workspaces button {
  background-color: #394161;
  color: #cba6f7;
  border-radius: 100%;
  min-height: 14px;
  min-width: 14px;
  margin: 5px 8px;
  padding: 0px;
  /*transition: all 0.5s cubic-bezier(0.33, 1.0, 0.68, 1.0); easeInOutCubic */
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

#workspaces button.active {
  /*color: @surface0;
    border-radius: 1rem;
    padding: 0rem 10px;*/
  background: radial-gradient(
    circle,
    rgba(203, 166, 247, 1) 0%,
    rgba(193, 168, 247, 1) 12%,
    rgba(249, 226, 175, 1) 19%,
    rgba(189, 169, 247, 1) 20%,
    rgba(182, 171, 247, 1) 24%,
    rgba(198, 255, 194, 1) 36%,
    rgba(177, 172, 247, 1) 37%,
    rgba(170, 173, 248, 1) 48%,
    rgba(255, 255, 255, 1) 52%,
    rgba(166, 174, 248, 1) 52%,
    rgba(160, 175, 248, 1) 59%,
    rgba(148, 226, 213, 1) 66%,
    rgba(155, 176, 248, 1) 67%,
    rgba(152, 177, 248, 1) 68%,
    rgba(205, 214, 244, 1) 77%,
    rgba(148, 178, 249, 1) 78%,
    rgba(144, 179, 250, 1) 82%,
    rgba(180, 190, 254, 1) 83%,
    rgba(141, 179, 250, 1) 90%,
    rgba(137, 180, 250, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  background-color: #cba6f7;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 30%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient_f {
  0% {
    background-position: 0% 200%;
  }

  50% {
    background-position: 200% 0%;
  }

  100% {
    background-position: 400% 200%;
  }
}

@keyframes gradient_f_nh {
  0% {
    background-position: 0% 200%;
  }

  100% {
    background-position: 200% 200%;
  }
}

#workspaces,
#window,
#tray,
#clock,
#pulseaudio,
#network,
#cpu,
#memory,
#pulseaudio.microphone,
#disk,
#temperature,
#custom-power,
#custom-weather {
  background-color: rgba(22, 25, 37, 0.9);
  color: #f9e2af;
  border-radius: 16px;
  padding: 0.5rem 1rem;

  box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
  margin-top: 10px;

}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}



#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #ea76cb;
    margin-left: 15px;
    margin-right: 15px;
}



#pulseaudio{
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

#pulseaudio.microphone{
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

#custom-power {
  color: #d20f39;
  padding-right: 1.2rem;
  margin-right: 15px;
}

#custom-weather{
  margin-right: 15px;
  color: #dd7878;
}

#cpu{
  margin-left: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #179299;
}

#memory{
  border-radius: 0px;
  color: #ea76cb;
}

#disk{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #dc8a78;
}




